<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul class="menu" nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item [routerLink]="['./']">Plan</li>
      <li nz-menu-item [routerLink]="['./generated-plan']">See Result</li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb
      [nzAutoGenerate]="true"
      [nzRouteLabel]="'breadcrumb'"
    ></nz-breadcrumb>
    <div
      class="inner-content"
      nz-row
      nzType="flex"
      nzJustify="center"
      nzAlign="middle"
    >
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Game Planner ©2020 Fusonic</nz-footer>
</nz-layout>
